<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div id="error_explanation">
      <h2>Oh no there's something wrong :(</h2>

      <ul>
        <% timesheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :date %>
    <%= form.date_field :date, max: Date.today %>
  </div>
  <div class='field'>
    <%= form.label :start_time %>
    <%= form.number_field :start_hour, in: 0..23, value: 8 %>
    <span>:</span>
    <%= form.number_field :start_minutes, in: 0..59, value: 0 %>
  </div>
  <div class='field'>
    <%= form.label :finish_time %>
    <%= form.number_field :finish_hour, in: 0..23, value: 17 %>
    <span>:</span>
    <%= form.number_field :finish_minutes, in: 0..59, value: 0 %>
  </div>

  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>
